# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2016 CERN.
#
# Invenio is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.


notifications:
  email: false

sudo: false

language: python

cache:
  - pip

python:
  - "2.7"
  - "3.5"

services:
  - redis
  - rabbitmq

env:
  - REQUIREMENTS=lowest BROKER_URL=redis://localhost:6379/0 ES_URL="https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.5/elasticsearch-2.4.5.tar.gz"
  - REQUIREMENTS=lowest BROKER_URL=amqp://localhost:5672// ES_URL="https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.5/elasticsearch-2.4.5.tar.gz"
  - REQUIREMENTS=release BROKER_URL=redis://localhost:6379/0 ES_URL="https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.5/elasticsearch-2.4.5.tar.gz"
  - REQUIREMENTS=release BROKER_URL=amqp://localhost:5672// $DEPLOY=true ES_URL="https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.5/elasticsearch-2.4.5.tar.gz"
  - REQUIREMENTS=devel ES_HOST=127.0.0.1 ES_URL="https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.5/elasticsearch-2.4.5.tar.gz" BROKER_URL=redis://localhost:6379/0
  - REQUIREMENTS=devel ES_HOST=127.0.0.1 ES_URL="https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.5/elasticsearch-2.4.5.tar.gz" BROKER_URL=amqp://localhost:5672//

matrix:
  allow_failures:
    - python: "2.7"
      env: REQUIREMENTS=lowest BROKER_URL=redis://localhost:6379/0
    - python: "2.7"
      env: REQUIREMENTS=lowest BROKER_URL=amqp://localhost:5672//
    - python: "2.7"
      env: REQUIREMENTS=release BROKER_URL=redis://localhost:6379/0
    - python: "2.7"
      env: REQUIREMENTS=release BROKER_URL=amqp://localhost:5672//
    - python: "3.5"
      env: REQUIREMENTS=lowest BROKER_URL=redis://localhost:6379/0
    - python: "3.5"
      env: REQUIREMENTS=lowest BROKER_URL=amqp://localhost:5672//
    - python: "3.5"
      env: REQUIREMENTS=release BROKER_URL=redis://localhost:6379/0
    - python: "3.5"
      env: REQUIREMENTS=release BROKER_URL=amqp://localhost:5672//

before_install:
  - "mkdir /tmp/elasticsearch"
  - "wget -O - $ES_URL | tar xz --directory=/tmp/elasticsearch --strip-components=1"
  - "/tmp/elasticsearch/bin/elasticsearch &"
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder"
  - "requirements-builder --level=min setup.py > .travis-lowest-requirements.txt"
  - "requirements-builder --level=pypi setup.py > .travis-release-requirements.txt"
  - "requirements-builder --level=dev --req requirements-devel.txt setup.py > .travis-devel-requirements.txt"

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[all]"

script:
  - "./run-tests.sh"

after_success:
  - coveralls

deploy:
  provider: pypi
  user: inveniosoftware
  password:
    secure: "RRcN5f/ptu5s+scIJOoo3iNIkiMw5qOSlxeEOzUJ07shUAR/Jx5TFUHPKw0kJ8btJsr4Tk8LS54HStTE4UFZPTnccodegHoTwMNMTcgnOkpaxqNveiZ4h0Ky4v6/m8x2OraBnnCCgFE64XkfSgLWAPjIbbULfwM2fgcUTL2OdFo5JjxUWXQWdZ7qoGbiYL8Nxx41Mm3Lzy4M4WJq1v4IBDSPI+fwiAmNuQ/6nrzQ0eLZi/jPgVAl7MqPc3OSIBoAzEpzXI00w8W/h9XfwIZ0rv4KVpRbkuhWuYsBX1WMGk3PhTxkAizFeWfMZEnaw4uEdPYT8O2rhuc6bIPBZIXRRU9GYtUtU7QE7rV2NmzJym5DXi8jma8To/TG9I7G2JmfyH6hnLZO48GoHfKOr9pVfSzg+4NA6ij9JHQz1Gr6V8gWn3/t4Ictd4X1j0Py/WRGfkcj8Yo1WpNUp6iej5AVsduq6k7AE1hRrD4TK6svyTso106xnB7MlEL/VxX118v/n/qPmdLlwYr11+eS00enYnhU1s6ceNlQDpSkrECJfSm3Ug6cBOpMGsC3fzZ+XgRCI5Lbt3LR3wD0+3yKPHenBMHdlZR9sAE1NWkZKQm0wkoDhDVc/0/aT+dqTH2MLG6AdzPnm5mxSO+M9RfjVZuPwLGaqYgb9LE6OYdRxkZ/F/A="
  distributions: "compile_catalog sdist bdist_wheel"
  on:
    tags: true
    python: "2.7"
    repo: inveniosoftware/invenio-stats
    condition: $DEPLOY=true
