# SPDX-FileCopyrightText: 2016-2018 CERN.
# SPDX-License-Identifier: MIT

include *.rst
include *.sh
include *.txt
include .dockerignore
include .editorconfig
include .tx/config
include LICENSE
include pytest.ini
include babel.ini
include .git-blame-ignore-revs
prune docs/_build
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include examples *.py *.sh
recursive-include invenio_stats *.html
recursive-include invenio_stats *.po *.pot *.mo
recursive-include invenio_stats *.json
recursive-include tests *.py
recursive-include .github/workflows *.yml
