# SPDX-FileCopyrightText: 2017-2018 CERN.
# SPDX-License-Identifier: MIT
#
# TODO: Add development versions of some important dependencies here to get a
#       warning when there are breaking upstream changes, e.g.:
#
#     -e git+git://github.com/mitsuhiko/werkzeug.git#egg=Werkzeug
#     -e git+git://github.com/mitsuhiko/jinja2.git#egg=Jinja2

-e git+https://github.com/inveniosoftware/invenio-queues.git#egg=invenio-queues
-e git+https://github.com/inveniosoftware/invenio-search.git#egg=invenio-search
-e git+https://github.com/inveniosoftware/invenio-base.git#egg=invenio-base
